.section__title--headline--title{
    font-family: Inter;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 64px;
    color: #18216D;
}

.headline{
    margin-top: 96px;
}


.hedline__subtitle{
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px 325px;
    color: #18216D;
}
