.section{
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section--font-color--green{
    color:#365A49;
}

.section--font-color--green.section__title{
    color: inherit;
}

.section__title{
    text-transform: uppercase;
    font-size: 48px;;
    margin-bottom: 40px;
    text-align: center;
    color: #000;
}